body {
    background-color: black;
    color: rgb(196, 141, 39);
    font-family: 'Courier New', Courier, monospace;
}

#dateButton {
    background-color: yellow;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}